<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="hero_2_V1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.01140110 -0.00082079 0.15783694"
        rpy="0 0 0" />
      <mass
        value="27.11971455" />
      <inertia
        ixx="0.78985163"
        ixy="-0.00186110"
        ixz="0.05160522"
        iyy="0.89623583"
        iyz="-0.00098779"
        izz="0.88298111" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="rf0_Link">
    <inertial>
      <origin
        xyz="0.05579152 -0.01531996 0.02508530"
        rpy="0 0 0" />
      <mass
        value="0.90915231" />
      <inertia
        ixx="0.00258753"
        ixy="-0.00047476"
        ixz="-0.00022160"
        iyy="0.00465231"
        iyz="0.00012889"
        izz="0.00692347" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/rf0_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/rf0_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf0_Joint"
    type="revolute">
    <origin
      xyz="0.00796170261298679 -0.171000000000018 0.12425"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="rf0_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-100"
      upper="100"
      effort="30"
      velocity="1000" />
  </joint>
  <link
    name="rf1_Link">
    <inertial>
      <origin
        xyz="0.00063178 -0.06725784 0.02130251"
        rpy="0 0 0" />
      <mass
        value="0.38592788" />
      <inertia
        ixx="0.00359139"
        ixy="0.00017886"
        ixz="-0.00000678"
        iyy="0.00013852"
        iyz="0.00014917"
        izz="0.00365441" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/rf1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/rf1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf1_Joint"
    type="revolute">
    <origin
      xyz="0.21 0 0.0167"
      rpy="0 0 0" />
    <parent
      link="rf0_Link" />
    <child
      link="rf1_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.1397"
      upper="0.55868"
      effort="30"
      velocity="1000" />
  </joint>
  <link
    name="r_wheel_Link">
    <inertial>
      <origin
        xyz="0.00001566 0.00021572 0.00883986"
        rpy="0 0 0" />
      <mass
        value="0.56798986" />
      <inertia
        ixx="0.00039883"
        ixy="0.00000022"
        ixz="0.00000008"
        iyy="0.00040118"
        iyz="0.00000164"
        izz="0.00060005" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_wheel_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_wheel_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_wheel_Joint"
    type="revolute">
    <origin
      xyz="0.00499999999998946 -0.249947737069665 0.042499999999986"
      rpy="0 0 0" />
    <parent
      link="rf1_Link" />
    <child
      link="r_wheel_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="50"
      velocity="1500" />
  </joint>
    <link
    name="lf0_Link">
    <inertial>
      <origin
        xyz="0.05579152 0.01531996 0.02508530"
        rpy="0 0 0" />
      <mass
        value="0.90915231" />
      <inertia
        ixx="0.00258753"
        ixy="0.00047476"
        ixz="-0.00022160"
        iyy="0.00465231"
        iyz="-0.00012889"
        izz="0.00692347" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/lf0_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/lf0_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf0_Joint"
    type="revolute">
    <origin
      xyz="0.0079617 0.171 0.12425"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="lf0_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-100"
      upper="100"
      effort="30"
      velocity="1000" />
  </joint>
  <link
    name="lf1_Link">
    <inertial>
      <origin
        xyz="0.00063178 0.06725784 0.02130251"
        rpy="0 0 0" />
      <mass
        value="0.38592788" />
      <inertia
        ixx="0.00359139"
        ixy="-0.00017886"
        ixz="-0.00000678"
        iyy="0.00013852"
        iyz="-0.00014917"
        izz="0.00365441" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/lf1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/lf1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf1_Joint"
    type="revolute">
    <origin
      xyz="0.21 0 0.0165"
      rpy="0 0 0" />
    <parent
      link="lf0_Link" />
    <child
      link="lf1_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.55868"
      upper="1.1397"
      effort="30"
      velocity="1000" />
  </joint>
  <link
    name="l_wheel_Link">
    <inertial>
      <origin
        xyz="-0.00001566 0.00021572 0.00883986"
        rpy="0 0 0" />
      <mass
        value="0.56798986" />
      <inertia
        ixx="0.00039883"
        ixy="-0.00000022"
        ixz="-0.00000008"
        iyy="0.00040118"
        iyz="0.00000164"
        izz="0.00060005" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_wheel_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_wheel_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_wheel_Joint"
    type="revolute">
    <origin
      xyz="0.00500001058515642 0.249947730172021 0.0424999995080837"
      rpy="0 0 0" />
    <parent
      link="lf1_Link" />
    <child
      link="l_wheel_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="50"
      velocity="1500" />
  </joint>
</robot>