<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="old7">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00179494013119796 -0.00408887457381202 0.062447376474095"
        rpy="0 0 0" />
      <mass
        value="7.89691931" />
      <inertia
        ixx="0.08846480"
        ixy="-0.00261747"
        ixz="-0.00077709"
        iyy="0.15462366"
        iyz="0.00004854"
        izz="0.09458607" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="rf0_Link">
    <inertial>
      <origin
        xyz="0.0517611350421233 -0.00885705313718782 -0.069080215493451"
        rpy="0 0 0" />
      <mass
        value="1.45406108" />
      <inertia
        ixx="0.00280006"
        ixy="-0.00005213"
        ixz="-0.00094382"
        iyy="0.00770044"
        iyz="0.00021148"
        izz="0.00873033" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/rf0_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/rf0_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf0_Joint"
    type="revolute">
    <origin
      xyz="0 -0.2224 0.116"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="rf0_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.8"
      upper="0.8"
      effort="30"
      velocity="1000" />
  </joint>
  <link
    name="rf1_Link">
    <inertial>
      <origin
        xyz="0.000295632136163682 -0.0809694063061352 -0.014309829374874"
        rpy="0 0 0" />
      <mass
        value="0.52326467" />
      <inertia
        ixx="0.00568000"
        ixy=" 0.00030513"
        ixz="-0.00000227"
        iyy="0.00021069"
        iyz="0.00012305"
        izz="0.00578863" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/rf1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/rf1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf1_Joint"
    type="revolute">
    <origin
      xyz="0.215 0 -0.0289"
      rpy="0 0 0" />
    <parent
      link="rf0_Link" />
    <child
      link="rf1_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.6"
      upper="1.4"
      effort="30"
      velocity="1000" />
  </joint>
  <link
    name="r_wheel_Link">
    <inertial>
      <origin
        xyz="3.56695168707288E-06 -0.000246574367483543 0.033370137346416"
        rpy="0 0 0" />
      <mass
        value=" 0.25423708" />
      <inertia
        ixx="0.00022551"
        ixy="-0.00000321"
        ixz="0.00000021"
        iyy=" 0.00022742"
        iyz="-0.00000010"
        izz="0.00039835" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/r_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_wheel_Joint"
    type="revolute">
    <origin
      xyz="0.0067537 -0.25791 -0.0223"
      rpy="0 0 0" />
    <parent
      link="rf1_Link" />
    <child
      link="r_wheel_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="50"
      velocity="1500" />
  </joint>
  <link
    name="lf0_Link">
    <inertial>
      <origin
        xyz="0.0519962058608485 0.00889727688439555 -0.0692537580992069"
        rpy="0 0 0" />
      <mass
        value="1.44748738" />
      <inertia
        ixx="0.00279027"
        ixy="0.00005537"
        ixz="-0.00095688"
        iyy="0.00767360"
        iyz="-0.00021371"
        izz="0.00870721" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/lr0_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/lr0_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf0_Joint"
    type="revolute">
    <origin
      xyz="0 0.2224 0.116"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="lf0_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.8"
      upper="1.8"
      effort="30"
      velocity="1000" />
  </joint>
  <link
    name="lf1_Link">
    <inertial>
      <origin
        xyz="0.000742901631044346 0.0869635574460457 -0.00316458004534381"
        rpy="0 0 0" />
      <mass
        value="0.49698581" />
      <inertia
        ixx="0.00530328"
        ixy="-0 0.00027178"
        ixz="-0.00000149"
        iyy=" 0.00019831"
        iyz="-0.00011383"
        izz="0.00541252" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/lr1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/lr1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf1_Joint"
    type="revolute">
    <origin
      xyz="0.215 0 -0.0399"
      rpy="0 0 0" />
    <parent
      link="lf0_Link" />
    <child
      link="lf1_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.4"
      upper="1.6"
      effort="30"
      velocity="1000" />
  </joint>
  <link
    name="l_wheel_Link">
    <inertial>
      <origin
        xyz="9.34262156931931E-06 0.000246423143387922 0.0333701373189504"
        rpy="0 0 0" />
      <mass
        value="0.25423708" />
      <inertia
        ixx="0.00022518"
        ixy="-0.00000310"
        ixz="-0.00000021"
        iyy="0.00022775"
        iyz="0.00000012"
        izz="0.00039835" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/l_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_wheel_Joint"
    type="revolute">
    <origin
      xyz="0.0067537 0.25791 -0.0113"
      rpy="0 0 0" />
    <parent
      link="lf1_Link" />
    <child
      link="l_wheel_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="50"
      velocity="1500" />
  </joint>
</robot>